.fill-view {
  height: 100vh;
}

.layout-menu {
  background-color: rgb(84, 92, 100);
  transition: all 0.3s ease 0s;
}

.layout-main {
  background: white;
}

.layout-header {
  background: #efefef;
  padding: 0;
}

.fill-container {
  height: 100%;
}

.page-container {
  height: 100%;
}

.page-header {
  height: 35px !important;
  padding: 0;
}

.page-main {
  padding: 0;
}

.clear-padding {
  padding: 0;
}


.selection .cell {
  text-align: center;
}
